{% extends "layout.html.twig" %}
{% block contenu %}
    <div class="row">
        {% if   app.session.get('droit') is defined and  app.session.get('droit') == 'DROITadmin' %}
            <table>
                <caption>Recapitulatifs des commandes (avec twig)</caption>
                <thead>
                    <tr >
                        <th>id</th>
                        <th>id_user</th>
                        <th>prix</th>
                        <th>date_achat</th>
                        <th>id_etat</th>
                        <th>opération</th>
                    </tr>
                </thead>
                <tbody>
                {% for commande in data if data is not empty %}
                    <tr>
                        <td>{{commande.id}}</td>
                        <td>{{commande.user_id}}</td>
                        <td>{{commande.prix}}</td>
                        <td>{{commande.date_achat}}</td>
                        <td>{{commande.libelle}}</td>
                        {% if commande.etat_id == 1 %}
                        <td><a href="{{path('commande.valideVendeur', {id: commande.id})}}">Valider la commande</a></td>
                        {% endif %}
                        {% if commande.etat_id == 2 %}
                        <td><a href="{{path('commande.deleteVendeur', {id: commande.id})}}">Effacer cette commande</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
                <tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}

