{% extends "layout.html.twig" %}
{% block contenu %}
    <div class="row">
        <table>
            <caption>Panier</caption>
            <thead>
            <tr>
                <th>nom</th>
                <th>quantite</th>
                <th>prix</th>
                <th>dateAjoutPanier</th>
            </tr>
            </thead>
            <tbody>
            {% for panier in data if data is not empty %}
                <tr>
                    <td>{{panier.nom}}</td>
                    <td>{{panier.quantite}}</td>
                    <td>{{panier.prix}}</td>
                    <td>{{panier.dateAjoutPanier}}</td>
                </tr>
            {% endfor %}
            {% if   app.session.get('droit') is defined and  app.session.get('droit') == 'DROITadmin' %}
                <td>
                    <a href="{{path('panier.delete', {id: paniers.id})}}">
                        <img src="BASE_URL/images/supprimer.jpg" />supprimer
                    </a>
                </td>
            {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}